.rest-api-container {
  /* background-color: #dcddfd; */
  padding: 288.2px 95px 235.15px;
  background: linear-gradient(#f0e9df, #b88787);
  /* background-color: #f0e9df; */
}

.rest-api-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.map {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 725px) {
  .rest-api-container {
    padding: 100.2px 95px 100.15px;
  }
}



