.rest-tab-container {
  /* background-color: #dcddfd; */
  padding: 288.2px 95px 235.15px;
  /* background: linear-gradient(#dcddfd, #f0e9df); */
  background-color: #f0e9df;
}

.rest-tab-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rest-tab-titles {
  font-size: 1.75vw;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 11vh;
}

.rest-tab-title1 {
  color: #543939;
  font-size: 7vw;
  line-height: 13.9vh;
}
.rest-tab-para {
  color: #b88787;
  font-size: 1.3vw;
  font-weight: 100;
}

.tri-img {
  width: 35vw;
}

.arrow-link-wrapper {
  display: flex;
  align-items: center;
}

.reserve-link {
  border-bottom: dashed;
  text-decoration: none;
  color: #543939;
}

.reserve-link:hover {
  color: #4724257a;
  transition-duration: 400ms;
}

.arrow-link {
  color: #543939;
}

@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 940px) {
}

@media (max-width: 725px) {
  .rest-tab-container {
    padding: 200.2px 95px 200.15px;
  }
}

@media (max-width: 664px) {
}

@media (max-width: 590px) {
  .rest-tab-title1 {
    line-height: 5.9vh;
  }
  .rest-tab-titles {
    padding-bottom: 5vh;
  }
}

@media (max-width: 470px) {
}

@media (max-width: 414px) {
}

@media (max-width: 390px) {
  .rest-tab-container {
    /* background-color: #dcddfd; */
    padding: 200.2px 95px 120.15px;
    /* background: linear-gradient(#dcddfd, #f0e9df); */
    background-color: #f0e9df;
  }
}
