.adding-page-container {
  background: linear-gradient(#ffca4b 55.22%, #d26a51 100%);
  padding: 288.2px 95px 450.15px;
}

.adding-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.adding-titles {
  font-size: 1.75vw;
  font-weight: bolder;
}

.adding-title1 {
  font-size: 3vw;
  color: #543939;
}
.adding-para {
  color: #1b7e0f;
  font-size: 1.5vw;
  width: 35vw;
}

.adding-form-wrapper {
  background: linear-gradient(#543939 4%, transparent 83%);
  padding: 50px 80px 100px;
  width: 35vw;
  border-radius: 30px;
}

.adding-form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.adding-form-wrapper input {
  /* font-size: 1vw; */
  /* width: 20vw; */
  /* height: 4vh; */
  padding: 0 13px;
  /* margin-bottom: 15px; */
  margin-top: 15px;
  border-radius: 7px;
  border: none;
  background-color: #342c2c;
  color: rgb(238, 238, 238);
  outline: none;
}
.adding-form-wrapper input::placeholder {
  color: rgb(238, 238, 238);
}

.age-food {
  display: flex;
}

.city-state {
  display: flex;
}

.name-input {
  font-size: 1.1vw;
  height: 4vh;
  width: 23vw;
}
.age-input {
  font-size: 1.1vw;
  height: 4vh;
  width: 5.5vw;
}
.food-input {
  font-size: 1.1vw;
  height: 4vh;
  width: 16.7vw;
  margin-left: 20px;
}
.city-input {
  font-size: 1.1vw;
  height: 4vh;
  width: 12.9vw;
  margin-right: 20px;
}
.select-input {
  font-size: 1.1vw;
  height: 4vh;
  margin-top: 15px;
  width: 9.5vw;
  border-radius: 7px;
  border: none;
  background-color: #342c2c;
  outline: none;
  color: rgb(238, 238, 238);
}

.btn-form {
  font-size: 1.3vw;
  margin-top: 100px;
  /* border: none; */
  border: 1px solid #342c2c;
  padding: 5px 20px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #342c2cc6;
  color: rgb(238, 238, 238);
}

@media (max-width: 1024px) {
  .adding-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .adding-titles {
    margin-bottom: 80px;
  }
}

@media (max-width: 725px) {
  .adding-form-wrapper {
    width: 50vw;
  }
  .adding-page-container {
    padding: 100.2px 95px 450.15px;
  }
}

@media (max-width: 414px) {
  .adding-form-wrapper {
    width: 90vw;
  }
  .name-input {
    width: 70vw;
  }
  .age-input {
    width: 20.5vw;
  }
  .food-input {
    width: 20.7vw;
  }
  .city-input {
    width: 30.9vw;
  }
  .select-input {
    width: 20.5vw;
  }
  .adding-title1 {
    font-size: 6vw;
  }
  .adding-para {
    font-size: 1.5vw;
  }
  .adding-page-container {
    padding: 288.2px 95px 200.15px;
  }
}
