.reviews-page-container {
  /* background-color: #dcddfd; */
  padding: 288.2px 95px 160.15px;
  background: linear-gradient(#dcddfd, #f0e9df);
}

.reviews-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reviews-titles {
  font-size: 1.75vw;
  font-weight: bolder;
}

.reviews-title1 {
  color: #543939;
}
.reviews-title2 {
  color: #b88787;
}

.social-img {
  width: 35vw;
}

.arrow-link-wrapper {
  display: flex;
  align-items: center;
}

.reserve-link {
  border-bottom: dashed;
  text-decoration: none;
  color: #543939;
}

.reserve-link:hover {
  color: #4724257a;
  transition-duration: 400ms;
}

.arrow-link {
  color: #543939;
}

@media (max-width: 664px) {
  .social-img {
    padding-right: 30px;
  }
  .reviews-titles {
    font-size: 1.75vw;
  }
}

@media (max-width: 470px) {

  .reviews-page-container {
    /* background-color: #dcddfd; */
    padding: 100.2px 95px 160.15px;
    background: linear-gradient(#dcddfd, #f0e9df);
  }
}
